.App {
  text-align: center;
}

.wrapper {
  height: 100vh;
  width: 100%;
}

h1 {
  text-align: center;
}

.cardboard {
  position: relative;
  width: 50%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.end-game {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #999999c6;
  border-radius: 5px;
  text-align: center;
  display: flex;
}

h2 {
  margin: auto;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ded833;
  border-radius: 5px;
  height: 100px;
}

.card:hover {
  background-color: #c4bf25;
  cursor: pointer;
}

